extends layout

block content
	.container
		.row
			.col.s12
				h3#song.center-align(onclick='up_song()')
					| Artist - Song Name (ft. Other Artist)
		#ctrl.row
			.center-align
				a#prev.btn-floating.btn-large.waves-effect.waves-light(
					href='#'
					onclick='bwd()'
				)
					i.material-icons.large skip_previous
				a#play.btn-floating.btn-large.waves-effect.waves-light(
					href='#'
					onclick='play()'
				)
					i#i-play.material-icons.large play_arrow
					i#i-pause.material-icons.large.hide pause
				a#next.btn-floating.btn-large.waves-effect.waves-light(
					href='#'
					onclick='fwd()'
				)
					i.material-icons.large skip_next
		.row
			.col.s12
				.center-align
					ul.tabs
						li.tab
							a(href='#' onclick='chlist(2)') Rock
						li.tab
							a(href='#' onclick='chlist(3)') Chip
						li.tab
							a(href='#' onclick='chlist(4)') Folk
						li.tab
							a(href='#' onclick='chlist(5)') Wave
						li.tab
							a(href='#' onclick='chlist(6)') TH
						li.tab
							a(href='#' onclick='chlist(7)') NFS
