doctype html
html
	head
		title Audacious Remote
		link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons')
		link(rel='stylesheet' href='/stylesheets/reset.css')
		link(rel='stylesheet' href='/stylesheets/materialize.css')
		link(rel='stylesheet' href='/stylesheets/style.css')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js').
			/**/
		script(src='/js/main.js').
			/**/
	body(onload='init()')
		block content
