body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#ctrl a {
	margin: 0 1rem;
}

#prev, #next {
	width: 72px;
    height: 72px;
}

#prev i, #next i {
	line-height: 72px;
	font-size: 2.4rem;
}

#play {
	width: 112px;
    height: 112px;
}

#play i {
	line-height: 112px;
	font-size: 4.6rem;
}
